extends layout

block content
  h1(class='title')= title
  p Welcome to #{title}
  a(href='/new' class="button") Send a new message!
  div
    each val in messages
      div(class='message') 
       p(class='messageText') #{val.text} 
       p(class='username') #{val.user} 
       p #{val.added.toString().slice(0,24)}
       